:root {
	color-scheme: light;

	--flexoki-black: #100F0F;
	--flexoki-paper: #FFFFFF;

	--flexoki-950: #1C1B1A;
	--flexoki-900: #282726;
	--flexoki-850: #343331;
	--flexoki-800: #403E3C;
	--flexoki-700: #575653;
	--flexoki-600: #6F6E69;
	--flexoki-500: #878580;
	--flexoki-300: #B7B5AC;
	--flexoki-200: #CECDC3;
	--flexoki-150: #DAD8CE;
	--flexoki-100: #E6E4D9;
	--flexoki-50: #F2F0E5;

	--flexoki-red-600: #AF3029;
	--flexoki-red-400: #D14D41;

	--flexoki-orange-600: #BC5215;
	--flexoki-orange-400: #DA702C;

	--flexoki-yellow-900: #4D3A0B;
	--flexoki-yellow-600: #AD8301;
	--flexoki-yellow-400: #D0A215;
	--flexoki-yellow-100: #FCEEB8;

	--flexoki-green-600: #66800B;
	--flexoki-green-400: #879A39;

	--flexoki-cyan-950: #142625;
	--flexoki-cyan-600: #24837B;
	--flexoki-cyan-400: #3AA99F;
	--flexoki-cyan-50: #EBF2E7;

	--flexoki-blue-600: #205EA6;
	--flexoki-blue-400: #4385BE;

	--flexoki-purple-600: #5E409D;
	--flexoki-purple-400: #8B7EC8;

	--flexoki-magenta-600: #A02F6F;
	--flexoki-magenta-400: #CE5D97;
}

body {
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7;
	background-color: var(--flexoki-paper);
	color: var(--flexoki-black);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}

	body {
		font-family: 'Schibsted Grotesk', sans-serif;
		background-color: var(--flexoki-black);
		color: var(--flexoki-150);
	}

	.prose p {
		color: var(--flexoki-150)
	}

	.scrollable-element {
		scrollbar-color: dark;
	}

	select {
		border-radius: 10%;
		text-decoration: underline;
		background-color: var(--flexoki-black);
		color: var(--flexoki-paper);
		opacity: 80%;
	}
}


.scrollable-element {
	scrollbar-color: light;
}

h1 {
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 8px;
}

h2 {
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 12px;
}

h3 {
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

h4 {
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

h5 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

h6 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

b {
	font-weight: 700;
}

a {
	text-decoration: underline;
	text-underline-offset: 5px;
	text-decoration-color: var(--flexoki-700)
}

nav a {
	font-family: 'Schibsted Grotesk', sans-serif;
	text-decoration: none;
}

a:hover {
	color: var(--flexoki-cyan-400)
}


p>a:hover {
	color: var(--flexoki-cyan-400)
}

p {
	margin-bottom: 1em;
}

.prose p {
	font-family: 'Schibsted Grotesk', sans-serif;
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table,
th,
td {
	width: 50%;
	text-align: center;
	padding: 10px;
	margin: auto;
	border: 1.5px solid rgb(206, 205, 195);
	border-radius: 10px;
	margin-bottom: 20px;

}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	border-radius: 2px;
	font-family: 'JetBrains Mono Variable', monospace;
	font-style: italic;
}

pre {
	padding: 1.5em;
	border-radius: 10px;
	border-color: #cecdc35d;
	border-width: 1px;
	background-color: #100F0F;
	margin-bottom: 20px;
}

blockquote {
	border-left: 4px solid var(--flexoki-orange-400);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 24px;
}

hr {
	border: solid 1px;
	opacity: 20%;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 6px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.prose p {
	margin-bottom: 35px;
}

.prose ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 20px;
}

.prose ul ul {
	margin-left: 5%;
}

.prose ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 1em;
}

.prose li::marker {
	color: #cecdc393;
}

.prose hr {
	margin-top: 30px;
	margin-bottom: 30px;
}
