/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 :root {
	--background-color-light: rgb(206, 205, 195);
	--text-color-light: rgb(16, 15, 15);
	--background-color-dark: rgb(16, 15, 15);
	--text-color-dark: rgb(206, 205, 195);
  }

body {
	font-family: 'Geist', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	background-color: var(--background-color-light);
	color: var(--text-color-light);
	font-family: Geist-SemiBold;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
  
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


.prose p + p {
	margin-bottom: 35px;
	color: rgb(206, 205, 195);
}

.prose p {
	color: rgb(206, 205, 195);
	line-height: 1.5em;
	font-size: 20px;
	letter-spacing: 0.25px;
}
.prose h1{
	color: rgb(206, 205, 195);
	font-weight: bold;
	line-height: 3em;
	font-size: 23px;
}
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
	color: rgb(206, 205, 195);
	font-weight: bold;
	line-height: 3em;
	font-size: large;
}

.prose p,
.prose strong,
.prose ol,
.prose ul {
	color: rgb(206, 205, 195);
}

.prose a {
	font-weight: regular;
	text-decoration: underline;
}

.prose a:hover{
	color: rgb(67, 133, 190);
}
.prose img {
	border-radius: 0.5rem;
}

.prose code,
.prose pre {
	color: grey;
}

.astro-code {
	color: orange;
}

::-webkit-scrollbar {
	width: 0.75em;
}

::-webkit-scrollbar-track {
	background: #262626;
}

::-webkit-scrollbar-thumb {
	background: #525252;
	border-radius: 10vh;
}