---
import Main from "../../layouts/Main.astro"
import "../styles/global.css"
---

<title>About - Castro</title>
<Main>
	<body>
		<div class="h-full mt-20 mb-10">
      <h1 class="text-3xl px-2 mb-6">About me</h1>
      <hr class="mb-8 mx-1.5">
      <p class="px-2">Hi! I'm Castro.</p>
      <p class="px-2">I write guides about technology, audiovisual workflow and every interesting topic I come across. 
        I value concise explanation, information that helps me learn and tools made with great purpose. I hope you come 
        across new topics here and manage to learn something new. Thanks for passing by! 
      </p>
      <p class="px-2">This site is made with:
        <ul class="px-2 list-inside list-disc mb-10">
          <li><a target="_blank" href="https://astro.build/">Astro</a> as a framework,</li>
          <li><a target="_blank" href="https://tailwindcss.com/">Tailwind</a> for styling,</li>
          <li><a target="_blank" href="https://www.markdownguide.org/">Markdown</a> as writing format,</li>
          <li>deployed in <a target="_blank" href="https://www.netlify.com/">Netlify</a>,</li>
          <li>and uses <a target="_blank" href="https://github.com/kepano/flexoki">Flexoki</a> theme and <a href="https://vercel.com/font">Geist</a> font.</li>  
        </ul>
      </p>
      <p class="px-2">I use the following tools to make my work:
          <ul class="px-2 list-inside list-disc mb-10">
            <li><a target="_blank" href="https://obsidian.md/">Obsidian</a> for writing and notes,</li>
            <li><a target="_blank" href="https://culturedcode.com/things/">Things</a> for tasks,</li>
            <li><a target="_blank" href="https://code.visualstudio.com/">Visual Studio Code</a> for coding</li>
            <li> and <a target="_blank" href="https://www.blackmagicdesign.com/es/products/davinciresolve/">DaVinci Resolve</a> for video editing.</li>  
          </ul>
      </p>
      <p>Need something?</p>
		</div>
	</body>
</Main>
