---
import Nav from "../components/Nav.astro"
import Main from "../layouts/Main.astro"
---

<Main>
    <Nav></Nav>
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Grid Layout</title>
          <style>
            .grid-container {
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              grid-template-rows: auto auto;
              gap: 10px;
            }
        
            .block {
            background-color: #252525;
            border-radius: 20px;
            cursor: pointer;
            }
        
            .block1 {
              grid-column: span 2;
              grid-row: span 2;
              padding: 70px;
              font-size: 40px;
              font-weight: bold;
            }
        
            .block2 {
              grid-column: 3;
              grid-row: 1;
              display: flex;
              justify-content: center;
              align-items: center;
            }
        
            .block3 {
              grid-column: 4;
              grid-row: 1;
              display: flex;
              justify-content: center;
              align-items: center;
            }
        
            .block4 {
              grid-column: 5;
              grid-row: 1;
              display: flex;
              justify-content: center;
              align-items: center;
            }
        
            .block5 {
              grid-column: 5;
              grid-row: 2;
              display: flex;
              justify-content: center;
              align-items: center;
            }
        
            .block6 {
              grid-column: 3;
              grid-row: 2;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .block7 {
              grid-column: 4;
              grid-row: 2;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .block8 {
              grid-column: 5;
              grid-row: 2;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .block9 {
              grid-column: 6;
              grid-row: 2;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .icon{
              width: 100px;
            }
            
            .info{
            background-color: #252525;
            border-radius: 20px;
            padding: 70px;
            font-size: 40px;
            }

          </style>
        </head>
        <body>
        <div class="h-full w-1/2 mx-auto px-6 mt-36 space-y-5">
          <div class="info">I build stuff. Dig into things I like and have fun. I value design, simplicity, perfomance and interest. Everything I make is free & open-source. </div>
          <div class="grid-container">
            <div class="block block1">Aprendiendo y pasándolo bien con
                <div id="changeText">todo.</div>
            </div>
            <div class="block block2 hover-text" onmouseover="changeText('Resolve.')" onmouseout="resetText()"><img class="icon" src="/resolve.png" alt=""></div>
            <div class="block block3 hover-text" onmouseover="changeText('Final Cut Pro.')"><img class="icon" src="/finalcut.png" alt=""></div>
            <div class="block block4 hover-text" onmouseover="changeText('VS Code.')" onmouseout="resetText()"><img class="icon" src="/vscode.png" alt=""></div>
            <div class="block block5 hover-text" onmouseover="changeText('Photoshop.')" onmouseout="resetText()"><img class="icon" src="/photoshop.png" alt=""></div>
            <div class="block block6 hover-text" onmouseover="changeText('Blender.')" onmouseout="resetText()"><img class="icon" src="/blender.png" alt=""></div>
            <div class="block block7 hover-text" onmouseover="changeText('Logic Pro.')" onmouseout="resetText()"><img class="icon" src="/logic.png" alt=""></div>
          </div>
        </div>
        </body>
        </html>       
    </div>

    <script lang="js">
   function changeText(text) {
  document.getElementById('changeText').innerText = text;
}
function resetText() {
  document.getElementById('changeText').innerText = "todo.";
}
    </script>
</Main>
