---
import Main from "../layouts/Main.astro"
import "../styles/global.css"
---

<title>About - Castro</title>
<Main>
	<body>
		<div class="h-full mt-20 mb-10">
      <h1 class="text-3xl px-2 mb-6">Sobre mi</h1>
      <hr class="mb-8 mx-1.5">
      <p class="px-2">Hola! Soy Castro.</p>
      <p class="px-2">Escribo guías sobre tecnología, flujos de trabajo audiovisual y todos los temas interesantes que encuentro.
        Valoro las explicaciones concisas, la información que me ayuda a aprender y las herramientas hechas con propósito. Espero que 
        encuentres nuevos temas aquí y aprendas algo nuevo. ¡Gracias por pasarte! 
      </p>
      <p class="px-2">Este sitio está hecho con:
        <ul class="px-2 list-inside list-disc mb-10">
          <li><a target="_blank" href="https://astro.build/">Astro</a> como framework,</li>
          <li><a target="_blank" href="https://tailwindcss.com/">Tailwind</a> for estilar,</li>
          <li><a target="_blank" href="https://www.markdownguide.org/">Markdown</a> como formato para escribir,</li>
          <li>desplegado en <a target="_blank" href="https://www.netlify.com/">Netlify</a>,</li>
          <li>y usa <a target="_blank" href="https://github.com/kepano/flexoki">Flexoki</a> como tema y <a target="_blank" href="https://vercel.com/font">Geist</a> como fuente.</li>  
        </ul>
      </p>
      <p class="px-2">Recomiendo estas herramientas:
          <ul class="px-2 list-inside list-disc mb-10">
            <li><a target="_blank" href="https://obsidian.md/">Obsidian</a> para escribir y tomar notas,</li>
            <li><a target="_blank" href="https://culturedcode.com/things/">Things</a> para tares,</li>
            <li><a target="_blank" href="https://code.visualstudio.com/">Visual Studio Code</a> para programar</li>
            <li> y <a target="_blank" href="https://www.blackmagicdesign.com/es/products/davinciresolve/">DaVinci Resolve</a> para editar vídeos.</li>  
          </ul>
      </p>
      <hr class="mb-8 mx-1.5">
        <ul class="px-2 list-inside list-disc mb-10 flex justify-center gap-10">
          <a target="_blank" href="https://github.com/43hershel">GitHub</a>
          <a target="_blank" href="https://twitter.com/43hershel">Twitter</a>
        </ul>
		</div>
	</body>
</Main>
