---
---

<div id="mainDiv">Default Text</div>

<div class="iconDiv" onmouseover="changeText('Text 1', 'linear-gradient(to right, red, blue)')" onmouseout="resetText()">Icon 1</div>
<div class="iconDiv" onmouseover="changeText('Text 2', 'linear-gradient(to right, blue, green)')" onmouseout="resetText()">Icon 2</div>
<div class="iconDiv" onmouseover="changeText('Text 3', 'linear-gradient(to right, purple, pink)')" onmouseout="resetText()">Icon 3</div>


<style>
#mainDiv {
  padding: 20px;
  background-color: lightgray;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 0.3s; 
  opacity: 1;/* Add transition effect for text color change */
}

.iconDiv {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
}
</style>

<script lang:"js">
function changeText(text, gradient) {
  var mainDiv = document.getElementById('mainDiv');
  mainDiv.innerText = text;
  mainDiv.style.backgroundImage = gradient; // Set gradient for text color
  mainDiv.style.color = 'transparent'; // Hide original text color
}

function resetText() {
  var mainDiv = document.getElementById('mainDiv');
  mainDiv.innerText = "Default Text";
  mainDiv.style.backgroundImage = 'none'; // Reset gradient
  mainDiv.style.color = 'black'; // Reset text color
}


</script>