---
import { getCollection } from "astro:content";
import Main from '../layouts/Main.astro'
import ArticleCard from '../components/ArticleCard.astro'
const allPosts = await getCollection("blog");
---

<Main title="Posts">
	<body class="">
		<div class="h-full mt-20 mb-10">
		<h1 class="text-2xl px-2 mb-10">Hi! Welcome to the blog!</h1>
		<hr class="mb-10 mx-1.5">
			{allPosts.map((p) => <ArticleCard blog={p}/>)}
		</div>
	</body>
</Main>