---
import Main from '../layouts/Main.astro'
import Nav from '../components/Nav.astro'
import ArticleCard from '../components/ArticleCard.astro'
---

<Main>
	<Nav></Nav>
	<div class="mt-36 mb-10">
		<ArticleCard></ArticleCard>
		<ArticleCard></ArticleCard>
	</div>
</Main>