---
import { getCollection } from "astro:content";
import Main from '../layouts/Main.astro'
import ArticleCard from '../components/ArticleCard.astro'
const allPosts = await getCollection("blog");
---

<Main>
	<body>
		<div class="mt-36 mb-10">
			{allPosts.map((p) => <ArticleCard blog={p}/>)}
		</div>
	</body>
</Main>