---
import Main from "../layouts/Main.astro";
import "../styles/global.css";
---

<title>Toolkit - Castro</title>
<Main>
  <body>
    <h2>Toolkit</h2>
      <p class="px-2 mb-8">
      Estas son las herramientas que uso ahora mismo. Las voy actualizando periódicamente. Por si a alguien le interesa.
          </p>
    <h4>Productividad</h4>
  <ul>
    <li><a target=blank_ href="https://culturedcode.com/things/">Things 3</a>. La lista de tareas.</li>
    <li><a target=blank_ href="https://zen-browser.app/">Zen Browser</a>. El navegador.</li>
    <li><a target=blank_ href="https://obsidian.md/">Obsidian</a>. Para tomar notas.</li>
    <li><a target=blank_ href="https://www.spotify.com/">Spotify</a>. Para música.</li>
  </ul>
  
  <h4>Vídeo</h4>
  <ul>
    <li><a target=blank_ href="https://www.apple.com/es/final-cut-pro/">Final Cut Pro</a> y <a href="https://www.blackmagicdesign.com/es/products/davinciresolve">DaVinci Resolve</a>. Edición de vídeo.</li>
    <li><a target=blank_ href="https://affinity.serif.com/es/">Affinity Designer</a>. Diseño y gráficos.</li>
    <li><a target=blank_ href="https://www.apple.com/logic-pro/">Logic Pro</a>. Música y sonido espacial.</li>
  </ul>
  
  <h4>Terminal</h4>
    <ul>
      <li><a target=blank_ href="https://ghostty.org/">Ghostty</a>. La terminal.</li>
      <li><a target=blank_ href="https://shorturl.at/eMviG">SKHD</a>. Navegación del sistema.</li> 
      <li><a target=blank_ href="https://neovim.io/">Neovim</a>. Editor de texto.</li>
  </ul>

</Main>
