---
import Main from "../layouts/Main.astro";
import "../styles/global.css";
---

<title>WIP - Castro</title>
<Main>
  <body>
      <div class="h-full mt-20 mb-10">
          <p>Notas de última versión y futuros planes para actualizar.</p>
          <h3 class="px-2">Versión 1.2.1</h3>
          <hr class="mb-4 mx-1.5" />
          <ul class="px-2 list-inside list-disc mb-10">
            <li>Añadida la función “despegable”. Ahora, en la mayoría de guías y de aquí en adelante, todos los títulos son secciones despegables. Con ánimo de ayudar en la accesibilidad.</li>
        <li>Implementadas animaciones tanto en las las pestañas como en la secciones. Ahora con desenfoques y Fade-In's.</li>
            <li>Actualmente trabajando en actualizar las guías a diferentes idiomas, el problema de escala del 90 % de Windows que reduce a la mitad el espacio disponible para leer y agregar contenido adicional.</li>
          </ul>
      </div>
  </body>
</Main>
