---
import Main from "../layouts/Main.astro";
import "../styles/global.css";
---

<title>WIP - Castro</title>
<Main>
  <body>
      <div class="h-full mt-20 mb-10">
          <h1 class="text-3xl px-2 mb-6">Work In Progress</h1>
          <hr class="mb-8 mx-1.5" />
          <p class="px-2">
          </p>
          <p class="px-2">Dentro del blog:</p>
          <ul class="px-2 list-inside list-disc mb-10">
            <li>Internacionalización <a href="https://docs.astro.build/en/guides/internationalization/#routing-logic" target="_blank">i18n</a></li>
          </ul>
      </div>
  </body>
</Main>
