---
---

<div class="bg-red-700 flex w-1/2 h-96 mx-auto mt-10 rounded-xl relative">
    <div class="absolute justify-between flex w-full px-8 bottom-6 text-2xl font-bold">
        <h2>Title</h2>
        <h2>Date</h2>
    </div>
</div>