---
import type { CollectionEntry } from 'astro:content';
type Props = {
    experiments: CollectionEntry<"experiments">; 
};
const { experiments } = Astro.props;
const { title, pubDate } = experiments.data;
---

<a href={`/experiments/${experiments.slug}`} class="py-2 px-2  hover:rounded-lg hover:bg-neutral-800 font-medium hover:cursor-pointer text-xl flex justify-between">{title}
    <time class="opacity-75" datetime={pubDate.toISOString()}>
        {`${pubDate.getFullYear()} · ${pubDate.getMonth() + 1}`}
    </time>
</a>
