---
import type { CollectionEntry } from 'astro:content';
type Props = {
    experiments: CollectionEntry<"experiments">;
};
const { experiments } = Astro.props;
const { title, pubDate } = experiments.data;
---

<a href={`/experiments/${experiments.slug}`} class="py-2.5 px-4 transition ease-in-out delay-50 rounded-lg hover:bg-neutral-700 hover:cursor-pointer text-xl flex flex-col w-fit">{title}
    <time class="opacity-75 font-light text-base" datetime={pubDate.toISOString()}>
        {`${pubDate.getFullYear()} · ${pubDate.getMonth() + 1}`}
    </time>
</a>
