---
import '../styles/global.css'
---

<!-- Form for language change -->
<hr class="mx-1.5" />
<div class=" flex py-6 justify-center">
    <label class="mx-1" for="lang">Idioma: </label>
    <select class="" name="Idioma" id="lang">
        <option value="es">es</option>
        <option value="es">en</option>
        <option value="es">eu</option>
    </select>
</div>
