---
---

<nav class="fixed top-0 shadow-lg rounded-full h-12 flex justify-between mt-4 px-4 overflow-hidden gap-2 left-1/2 transform -translate-x-1/2 mb-5 ring-1 ring-neutral-600 z-40">
    <ul class="flex gap-8 mt-2.5 text-lg px-2">
        <a href="/" class="cursor-pointer hover:underline">Posts</a>
        <a href="/about" class="cursor-pointer hover:underline">About</a>
        <a class="cursor-pointer"><svg class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="20" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="20" style="color:var(--geist-foreground);width:24px;height:24px"><path d="M11 17.25a6.25 6.25 0 110-12.5 6.25 6.25 0 010 12.5z"/><path d="M16 16l4.5 4.5"/></svg></a>
    </ul>  
</nav>