---
import "../styles/global.css"
---
<nav class="flex text-md justify-between items-center font-extralight w-full mx-auto px-8 max-w-[65ch] mt-8 xl:mt-20 hover:cursor-pointer transition ease-in-out delay-50">
  <a class="px-2 py-1 opacity-75 hover:opacity-100 rounded-lg hover:bg-neutral-700 transition" target="_self" href="/">Blog</a>
  <div class="flex gap-10">
    <a href="/wip" target="_self" class="px-2 py-1 opacity-75 hover:opacity-100 hover:bg-neutral-700 rounded-lg transition">WIP</a>
  </div>
</nav>
