---
import "../styles/global.css"
---
<nav class="flex text-md justify-between items-center font-extralight w-full mx-auto mt-8 px-2 hover:cursor-pointer">
  <a class="opacity-75 hover:opacity-100" target="_self" href="/">Blog</a>
  <div class="flex gap-10">
    <a href="/toolkit" target="_self" class="opacity-75 hover:opacity-100">Toolkit</a>
  </div>
</nav>
