---
import "../styles/global.css"
---
<nav class="flex text-md justify-between items-center font-medium  w-full mx-auto px-4 
            sm:max-w-[90%] md:max-w-[80%] lg:max-w-[60%] xl:max-w-[50rem] 2xl:max-w-[48rem] 
            xl:mt-20 mt-8 hover:cursor-pointer transition ease-in-out delay-50">
    <a class="px-2 py-1 opacity-75 hover:opacity-100 rounded-lg hover:bg-neutral-700 transition" target="_self" href="/">Blog</a>
    <div class="flex gap-10">
        <a href="/about" target="_self" class="px-2 py-1 opacity-75 hover:opacity-100 hover:bg-neutral-700 rounded-lg transition">Sobre mi</a>
        <a href="/wip" target="_self" class="px-2 py-1 opacity-75 hover:opacity-100 hover:bg-neutral-700 rounded-lg transition">WIP</a>
    </div>
</nav>
