---
import "../styles/global.css"
---
<nav class="flex text-md justify-between px-3 xl:mt-20 mt-8 mx-1 sm:mx-10 lg:mx-44 xl:mx-80 2xl:w-1/3 2xl:mx-auto hover:cursor-pointer">
        <a href="/">Castro</a>
        <div class="flex gap-10">
            <a href="/about" class="opacity-75 hover:opacity-100"  href="/">Sobre mi</a>
            <form class="">
                <label for="lang"></label>
                <select class="" name="lang" id="lang">
                    <option value="es">es</option>
                    <option value="es">en</option>
                    <option value="es">eu</option>
                </select>
            </form>
        </div>
</nav>
