---
---

<nav class="fixed top-0  shadow-lg rounded-full h-14 flex justify-between mt-4 px-4 overflow-hidden gap-2 left-1/2 transform -translate-x-1/2 mb-5 ring-1 ring-neutral-600">
    <ul class="flex gap-10 mt-2">
        <a>Posts</a>
        <a>About</a>
        <a>Search</a>
    </ul>  
</nav>