---
import { getCollection } from "astro:content";
import Main from '../../../layouts/Main.astro'
import ArticleCard from '../../../components/ArticleCard.astro'
import ExperimentCard from "../../../components/ExperimentCard.astro";
const allPosts = await getCollection("blog");
const allExperiments = await getCollection("experiments");
---

<Main title="Castro">
	<body class="">
		<div class="h-full mt-20 mb-10">
		<h1 class="text-3xl px-2 mb-6">Gidak</h1>
		<hr class="mb-10 mx-1.5">
			{allPosts.map((p) => <ArticleCard blog={p}/>)}
		<div class="mt-20">
			<h1 class="text-3xl px-2 mb-6">Esperimentuak</h1>
			<hr class="mb-10 mx-1.5">
			{allExperiments.map((p) => <ExperimentCard experiments={p}/>)}
		</div>	
		</div>
	</body>
</Main>
