---
import Nav from "../components/Nav.astro";
import "../styles/global.css"
---


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="vierport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Castro</title>
  </head>
  <Nav></Nav>
  <main class=" mx-1 sm:mx-10 lg:mx-44 xl:mx-72 2xl:w-1/3 2xl:mx-auto h-screen ">
    <slot /> 
  </main>
</html>

